[Unit]
Description=Import old config to new config
After=multi-user.target network.target
ConditionPathExists=!/etc/cacophony/config.toml

[Service]
ExecStart=/usr/bin/cacophony-config-import
Type=oneshot

[Install]
WantedBy=multi-user.target
