[Unit]
Description=Import old config to new config
After=basic.target
ConditionPathExists=!/etc/cacophony/config.toml

[Service]
ExecStart=/usr/bin/cacophony-config-import
Type=oneshot

[Install]
WantedBy=basic.target
